body{
    font-family: Tahoma;
}

.author, .likes, .views, .date {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.btn-like{
    padding: 0 10px;
    margin: 0 10px;
    height: 20px;
    line-height: 18px;
    font-size: 10px;
    background-color: #2a88bd;
    color: #ffffff;
}
.description{
    margin: 20px 0;
}

.side-menu{
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
    color: #000;
}

.side-menu a{
    color: #fff;
}

.side-menu ul{
    padding: 0;
    margin: 0;
}

.side-menu ul li{
    padding: 2px 10px;
    list-style-type: none;
}

.side-menu h2{
    color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      padding: 7px;

}

.header-image{
  background-image: url(../images/bg_image.jpg);
  height: 540px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#footer{
  background-color: #446C59;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin: 30px 0 0 0;
}
.dropdown-menu .hr{
  margin: 0;
  padding: 11px 18px 3px;
  font-weight: bold;
  border-bottom: 1px solid #3333;
}
.admin-menu{

}
.admin-menu .hr{
  margin: 0;
  padding: 11px 18px 3px 0;
  font-weight: bold;
  border-bottom: 1px solid #3333;
}

.image-row{
    margin: 0 0 20px;
}

.trash{
    background-image: url(/images/delete.png);
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    top: 7px;
    right: 19px;
    background-color: white;
    padding: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;

}

.gallery-item{
    background-color: pink;
    height: 150px;
    background-position: center;
    background-size: cover;
    margin: 10px 0px;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-default{
    background-color: darkred;
    color: #ffffff;
}

.navbar-default .navbar-brand{
    color: #ffffff;
}

.navbar-default .navbar-brand:hover{
    color: #f1f1f1;
}

.navbar-default .navbar-nav > li a{
    color: #000;
}
table tbody tr th{
    font-weight: normal;
}
table thead td{
    font-weight: bold;
}